[user]
	name = Morten Harnang
	email = 4163438+mharnang@users.noreply.github.com

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
	quotepath = false
	ignorecase = false

[remote "origin"]
  prune = true

[alias]
  branch-name = "!git rev-parse --abbrev-ref HEAD"
  publish = "!git push origin -u $(git branch-name)"
  unpublish = "!git push origin :$(git branch-name)"
  ours = "!f() { git checkout --ours $@ && git add $@; }; f"
  theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	start = "!f() { git fetch origin master:master && git checkout -b $@ master; }; f"
	sync = "!git fetch origin && git merge origin/master"
	recent = "!f() { git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)'|column -ts'|'; }; f"

[push]
	default = matching
